rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isMyDocument(user){
      return user == get(/databases/$(database)/documents/users/$(request.auth.uid)).data.uid;
    }

    match /users/{user=**} {
      allow read, update: if request.auth.uid == resource.data.uid;
      allow create: if request.auth.uid != null;
    }

    match /users/{user}/stored/{document=**} {
      allow read, write: if isMyDocument(user);
    }

    match /users/{user}/workouts/{document=**} {
      allow read, write: if isMyDocument(user);
    }

    match /users/{user}/open/{document=**} {
      allow read, write: if isMyDocument(user);
    }

  }
}